// @import "../../App.scss";
// .navbar{
//     padding-top: 12px;
//     padding-bottom: 12px ;
//     .navbar-brand{
//         font-style: 2.4rem;
//     }
//     .brand-and-toggler{
//         .sidebar-show-btn{
//             margin-right: 12px;
//             margin-top: 4px;
//             transition: $transition-ease;
//             &:hover{
//                 opacity: 0.9;
//             }
//         }
//     }
//     .navbar-collapse{
//         .navbar-search{
//             padding: 4px;
//             margin-left: 32px;
//             border-radius: 2px;
//             box-shadow: rgba(0 ,0,0,0.1) 0px 4px 6px -1px , rgba(0,0,0,0.06) 0px 2 px 4px -1px;
//             .form-control{
//                 width: 100%;
//                 padding: 0 16px;
//                 color: rgba(0,0,0,0.8);
//                 caret-color: $clr-orange;
//                 &::placeholder{
//                     font-size: 13.5px;
//                     font-family: $font-family-manrope;
//                     letter-spacing: 0.5em;

//                 }
//             }
//             .search-btn{
//                 background-color: $clr-orange;
//                 width: 60px;
//                 height: 32px;
//             }
//             @media screen and (max-width:576px){
//                 display: none;
//             }
//         }
//         .navbar-nav{
//             margin-left: 32px;
//             margin-top: 8px;
//             .nav-item{
//                 margin-right: 16px;

//             }
//             .nav-link{
//                 transition:$transition-ease;
//                 &:hover{
//                     opacity: 0.95;
//                 }
//             }
//         }
//         @media screen and (max-width:992px) {
//             display: none;
//         }
//     }
// }
// .navbar-cart{
//     margin-left: 32px;height: 30px;border-radius: 50%;
// }




@import "../../App.scss";
.navbar{
    padding-top: 12px;
    padding-bottom: 12px ;
    .navbar-brand{
        font-style: 2.4rem;
    }
    .brand-and-toggler{
        .sidebar-show-btn{
            margin-right: 12px;
            margin-top: 4px;
            transition: $transition-ease;
            &:hover{
                opacity: 0.9;
            }
        }
    }
    .navbar-collapse{
        .navbar-search{
            padding: 4px;
            margin-left: 20px;
            border-radius: 5px;
            box-shadow: rgba(0 ,0,0,0.1) 0px 4px 6px -1px , rgba(0,0,0,0.06) 0px 2 px 4px -1px;
            .form-control{
                width: 100%;
                padding: 0 16px;
                color: rgba(0,0,0,0.8);
                caret-color: $clr-orange;
                &::placeholder{
                    font-size: 13.5px;
                    font-family: $font-family-manrope;
                    letter-spacing: 0.5em;

                }
            }
            .search-btn{
                background-color: $clr-orange;
                width: 60px;
                height: 32px;
                border-radius: 2px;
            }
            @media screen and (max-width:576px){
                display: none;
            }
        }
        .navbar-nav{
            margin-left: 77px;
            margin-top: 10px;
            .nav-item{
                margin-right: 16px;

            }
            .nav-link{
                transition:$transition-ease;
                &:hover{
                    opacity: 0.95;
                }
            }
        }
        @media screen and (max-width:992px) {
            display: none;
        }
    }
}
.navbar-cart{
    margin-left: 32px;height: 30px;border-radius: 50%;
}
.brand-and-toggler{
    position: relative;
bottom: 20px;

}
.navbar-brand span i{
    margin-right: 10px;
}
.social-link li{
    margin-left: 10px;
}

.cart-item-value{
    position: relative;
bottom: 43px;
left: 16px;
background: #ff4800;
height: 20px;
padding: 0 0 0px 4px;
border-radius: 10px;
font-size: 13px;
width: 18px;
}
 .cart-btn{
    margin-right: 15px;

 }
    
.form-control{

    font-size: 18px;
}